.smart-tooltip-wrapper {
  position: fixed;
  min-height: 30px;
  min-width: 70px;
  color: #000;
  z-index: 1050;
  opacity: 0;
}

.smart-tooltip-wrapper.animate {
  transition: opacity 500ms ease;
}

.smart-tooltip-wrapper.open {
  opacity: 1;
}

.smart-tooltip-wrapper .arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: -1;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background-color: #fff;
}

.smart-tooltip-wrapper .arrow.up {
  top: -6px;
  left: 10px;
  border-top: 1px solid;
  border-left: 1px solid;
}

.smart-tooltip-wrapper .arrow.down {
  bottom: -6px;
  left: 10px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.smart-tooltip-wrapper .arrow.right {
  top: 10px;
  right: -6px;
  border-top: 1px solid;
  border-right: 1px solid;
}

.smart-tooltip-wrapper .arrow.left {
  top: 10px;
  left: -6px;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

/* not nested in .smart-tooltip-wrapper for easy override */
.tooltip-content {
  margin: 0;
  min-height: initial;
  position: absolute;
  padding: 5px;
  z-index: -1;
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
}
